<h1>TEST</h1>
<input type="text" ng-model="searchText">
<div class="fluid-row" data-equalizer>
    <div class="pokemon-card small-12 medium-4 columns" data-equalizer-watch ng-repeat="pokemon in pokemons | filter:searchText">
        <span>PokeDex; #{{pokemon.dex_id}}</span>
        <span>Name: {{pokemon.name}}</span>
        <span>Tier: {{pokemon.tier}}</span>
        <span>Is Item: {{pokemon.item}}</span>
        <span class="type" ng-repeat="type in pokemon.type">{{type}} &nbsp;</span>
        <br>
    </div>
</div>
